{% extends "base.html" %}

{% block title %} Cart {% endblock %}

{% block content %}
	<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
	{% if empty %}
		<h1>{{empty_message}}</h1>
	{% else %}
		<table class="table">
			<thead>
				<th>Items</th>
				<th>Price</th>
				<th>Qty</th>
				<th></th>
			</thead>
			{% for item in cart.cartitem_set.all %}
			<tr>
			<td>
				{{item.product}}
				<ul> {% if item.product_variations.all %}
						{% for variation in item.product_variations.all %}
							<li>{{variation.category|capfirst}} : {{variation.title|capfirst}}</li>
						{% endfor %}
				{% endif %} </ul>
			</td>
			<td><i class="fa fa-inr">&nbsp{{item.product.price}}</i></td>
			<td>{{item.quantity}}</td>
			<td><a href="{% url "remove_from_cart" item.id %}">Remove</a></td>
			</tr>
			{% endfor %}
			<tfoot>
				<td></td>
				<td>Total: <i class="fa fa-inr">&nbsp{{cart.total}}</i></td>
				<td></td>
				<td></td>
			</tfoot>
		</table>
		<a href="{%url "checkout" %}">Checkout</a>
	{% endif %}
	</div>
	</div>

{% endblock %}